/* #region common rules */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --clr-primary:#9793e5;
    --clr-secondary:#0084fd;
    --clr-secondary-light:#b4ddfe;
    --clr-accent:#fdc15f;
    --clr-darker: #000;
    --clr-dark:#323332;
    --clr-light:#fffefe;
}

.container{
    width:70%;
    margin:0 auto;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
}

section{
    padding: 1rem 0;
}
/* #endregion common rules */

/* #region utilities */
.d-flex{
    display: flex;
}
.col-4{
    width:calc((100% / 12) * 4);
}
.col-6{
    width:50%;
}
.col-8{
    width:calc((100% / 12) * 8);
}
.col-12{
    width:100%;
}
/* #endregion utilities */

/* #region debug */

.debug [class^="col-"]{
    border:1px solid black;
    background-color: lightgreen;
    height:200px;
}

/* #endregion debug */

/* #region header */
header{
    background-color: var(--clr-secondary);
}
header .row.d-flex{
    justify-content: space-between;
}
header .fa-bars{
    display: none;
}
/* #endregion header */

/* #region main */

.demo .row{
    flex-wrap: wrap;
}
/* /.section-demo */
/* #endregion main */


/* Responsive */

@media screen and (min-width: 768px){

    .demo .row{
        flex-wrap: nowrap;
    }
    .col-md-8{
        width:calc((100% / 12) * 8);
    }
    .col-md-4{
        width:calc((100% / 12) * 4);
    }
    
}



@media screen and (max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .col-6.right{
        display: none;
    }
}