/* #region common rules */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --clr-primary:#9793e5;
    --clr-secondary:#0084fd;
    --clr-secondary-light:#b4ddfe;
    --clr-accent:#fdc15f;
    --clr-darker: #000;
    --clr-dark:#323332;
    --clr-light:#fffefe;
}

.container{
    width:70%;
    margin:0 auto;
}

ul{
    list-style: none;
}

section{
    padding: 1rem 0;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}
/* #endregion common rules */

/* #region utilities */
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.col-4{
    width:calc((100% / 12) * 4);
}
.col-6{
    width:50%;
}
.col-8{
    width:calc((100% / 12) * 8);
}
.col-12{
    width:100%;
}
/* #endregion utilities */

/* #region debug */

/* .debug [class^="col-"]{
    border:1px solid black;
    background-color: lightgreen;
    height:200px;
}

.debug .cta{
    height:200px;
}  */
/* #endregion debug */

/* #region header */
header{
    background-color: var(--clr-secondary);
    padding: 1rem 0;
    color:var(--clr-light);
}
header .row.d-flex{
    justify-content: space-between;
    align-items: center;
}
header .fa-bars{
    display: none;
}
nav ul.d-flex{
    justify-content: flex-end;
    gap:1.3rem;
}
nav a{
    padding:0.7rem;
    background-color: var(--clr-light);
    border-radius:3.125rem;
    color:var(--clr-darker);
}
/* #endregion header */

/* #region main */


/* /.section-demo */

section.plans{
    background-color: var(--clr-primary);
}
/* /.section-plans */

section.benefits{
    background-color: var(--clr-primary);
}

/* /.section-benefits */

section.cta{
    background-color: var(--clr-primary);
}
/* ./cta */
/* #endregion main */

/* #region footer */
footer{
    background-color: var(--clr-dark);
}
/* #endregion footer */


/* Responsive */

@media screen and (min-width: 768px){

    .col-md-6{
        width:calc(50%);
    }
    .col-md-8{
        width:calc((100% / 12) * 8);
    }
    .col-md-4{
        width:calc((100% / 12) * 4);
    }
    
}

@media screen and (min-width:1200px) {
    .col-lg-6{
        width:50%;
    }
    .col-lg-4{
        width:calc((100% / 12) * 4);
    } 
}
